body,head {
    margin: 0;
    padding: 0;
    background-color: #fff4dd;

}

/* Hero section container */

.h1tag{
position: absolute;
  
  top: 5%;
  bottom: 20%;
  color: #ffffff;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  width: 100%;
  
  
}
#small{
  position: absolute;
  /* opacity: 0.7; */
  font-size: 20px;
  top: 25%;
  width: 80%;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  

}
.big{
  
  position: absolute;
  font-family: "Rowdies", sans-serif;
  font-weight: 500;
  font-size: 70px;
  font-style: normal;
  left: 20%;
  top: 53%;

}
.big2{
  position: absolute;
  font-family: "Rowdies", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 70px;
  font-style: normal;
  left: 30%;
  top: 63%;
}



.hero-section {
  
  width: 100%;
  height: 100vh;
  position: relative;
  

}

/* Full-width, full-height image */
.hero-image {
  margin-top: 20%;
  width: 100%;
  height: 50%;
  border-bottom: solid;
  border-top: solid;
  border-width: 2px;
  transition: transform 2s ease;
    transform: scale(1.1);
  

  /* Ensures it fills the space without distortion */
  
}


/* Button container positioned in top-right corner */
.button-wrapper {
  position: fixed;
  
  top: 30px;
  right: 10%;
  z-index: 2;
 
}



/* Button styling */
.book-now-button {
  padding: .5rem 1rem;
  background-color: #fbb019;
  color: black;
  font-size: 18px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-radius: 50px;
  
}

.book-now-button:hover {
  background-color: #feaa00 ;
  transform: translateY(-2px);
}

.seconds{
  display: flex;
  position: relative;
  top: 10%;
  flex-direction: column;
  padding: 5%;
  margin-bottom: 15%;
  font-size: 15px;
}
h2{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 200; 
  padding: 5%;
}

#scndimg{
  width: 100%;
  border: solid;
  border-width: 2px;
  
}

/* #textin2nddiv{
  margin-top: 10%;
} */

/* maybe use positioning rather than flex */

.thrd{
  display: flex;
  flex-direction: column;
  top: 20%;
  justify-content: space-around;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  z-index: 1;
  padding: 5%;
  
}

/* container for img */
#box1{
  width: 100%;
  
  
  }

/* the img */
.rooms{
  width: 100%;
  height: 250px;
  border: solid;
  border-width: 2px;
  z-index: 1;
}





  .para{
    position: relative;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 20px;
    
  }

  /* standard room */
 

.extra{
  display: flex;
  
  justify-content: baseline;
  position: relative;
  top: 10%;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.img2{
  height: 300px;
  width: 300px;
  border: solid;
  border-width: 2px;
}

.textimg{
  position: relative;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  
  top: 10%;
  text-align: center;
  height: 50px;

}

#textimgcn{
  font-size: 25px;
}

.map{
  position: relative;
  top: 15%;
  border: solid;
  width: 80%;
  margin-right: 1%;
  margin-left: 10%;
  overflow: hidden;
  border-width: 2px;
}

.socialicon{
  display: flex;
  position: relative;
  height: 50px;
  justify-content: center;
  align-items: center;
  size: 50px;
  gap: 15px;
  
  
}
.footer{
  
  position: relative;
  top: 170px;
  height: 100px;
  width: 100%;
  border-top: solid;
  background-color: #ad7d1c;
}

#last{
  display: flex;
  color: inherit;
  text-decoration: none;
  justify-content: center;
  position: relative;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  text-align: center;
  font-size: 20px;
}


@media (min-width: 600px){

  .seconds{
    padding-left: 30%;
    padding-right: 30%;
  }

  .thrd{
    padding-left: 30%;
    padding-right: 30%;
  }
  .hero-image{
    width: 50%;
    height: 60%;
    border-right: solid;
    transition: transform 2s ease;
    transform: scale(1.2);
  }

  .big{
  
    color: black;
    left: 60%;
  }
.big2{
  
  left: 70%;
}
}

/* dont do % wise..as opening on a browser results in distorted images */

